# MATLAB & Simulink backup
*.asv
*.original
*.autosave

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink cache/compiled
*.slxc

# Simulink Embedded Coder outputs
*.dwo
*.out
*.hex

# Simulink Embedded Coder intermediate
*.d
*.obj
*.dmr
slprj/
sccprj/
*_rtw/

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Matlab code generation folders
codegen/

# Octave session info
octave-workspace

output
dump/

# Simulink session settings
*.mldatx

# Linux/ROS temp file
*.swp
*.swo
*.log

# temp file
~$*.docx
~$*.xlsx
~$*.sldprt

# images and videos
*.avi
*.gif
*.GIF
*.png
*.PNG
*.jpeg
*.JPEG
*.fig
*.FIG
